/* myproject/frontend/src/components/ArticlePage.css */

/* myproject/src/components/ArticlePage.css */

.container12 {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 34px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(48.333% - 40px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #172947;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

  