{% extends "nav.html" %}

{% block title %}About Us{% endblock %}


{% block content %}

{% load static %}

    <style>
        .container {
            background-color: rgb(229, 242, 254);
        }

        .about {
            
            margin: 50px;
            color: #172947;
        }

        .about h1 {
            text-align: 20px;
            font-size: 2.5em;
            margin-left: 50px;
        }

        .about p {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 30px;
            padding: 30px;
        }

        .team {
            text-align: center;
            margin: 50px;
            color: #172947;
        }

        .team h2 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .team-member {
            display: inline-block;
            margin: 0 20px;
        }

        .team-member img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .team-member h3 {
            font-size: 1.5em;
            margin-bottom: 5px;
        }

        .team-member p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }
    </style>

<div class="container">
</div>
    <div class="about">
        <h1>About Us</h1>
        <p>ASD Detector is a web application that aims to help parents and caregivers detect autism spectrum disorder (ASD) in children. The application uses machine learning to analyze the responses to a set of questions and provide a probability of the child having ASD. The application also provides articles and resources to help parents and caregivers learn more about ASD and how to support children with ASD.</p>
    </div>

    <div class="about">
        <h1>Our Vision</h1>
        <p>Our vision is to create a world where children with autism spectrum disorder (ASD) are diagnosed early and receive the support they need to thrive. We believe that early detection and intervention can make a significant difference in the lives of children with ASD and their families. By providing a user-friendly and accessible tool for parents and caregivers, we hope to empower them to take action and seek help for their children.</p>

    <div class="team">
        <h2>Our Team</h2>
        <div class="team-member">
            <img src="{% static 'images/ahmad.jpg' %}" alt="Team Member 1">
            <h3>Ahmad Hassan</h3>
        </div>
        <div class="team-member">
            <img src="{% static 'images/zain.png' %}" alt="Team Member 2">
            <h3>Muhammad Zain</h3>
        </div>
    </div>


{% endblock %}

