    .container {
        margin: 0;

    }
    .half-page {
        height: 85vh;
        background-image: url('/images/6533822.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content {
        width: 30%;
        padding: 30px;
        margin-right: 100px;
        text-align: center;
        color: #333;
        opacity: 0;
        
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 0.5s;
        
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 3;
        }
    }

    #h1-heading {
        font-size: 30px;
        font-weight: bold;
        color: aliceblue;
    }

    p {
        font-size: 20px;
        color: aliceblue;
    }


    .half-page-1 {
        height: 50vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-1 {
        width: 70%;
        text-align: center;
        opacity: 0;
      
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 0.5s;
        
    }

    .content-1 p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: rgb(6, 10, 13);
    }

    .assessment-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #13223B;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
    }

    .assessment-btn:hover {
        background-color: #1A2E48;
    }


    .half-page-2 {
        height: 60vh;
        background-color: #13223B;
        display: flex;
    }

    .left-content,
    .right-content {
        flex: 1;
        padding: 50px;
        color: #fff;
        opacity: 0;
       
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 0.5s;
        
    }

    .left-content {
        text-align: center;
        margin-top: 100px;
    }

    .right-content {
        text-align: center;
    }

    .right-content p {

        font-size: 18px;
        line-height: 1.5;
    }

    .about-btn,
    .article-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        font-weight: bold;
        color: #13223B;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        justify-content: center;
        opacity: 0;
        
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 0.5s;
        
    }

    .about-btn:hover,
    .article-btn:hover {
        background-color: #1A2E48;
        color: #fff;
    }
