body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
#chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

#chat-box {
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.message {
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.user {
    background-color: #1A78C2;
    color: white;
    align-self: flex-end;
}

.bot {
    background-color: #F0F0F0;
    color: #333;
    align-self: flex-start;
}

#chat-form {
    display: flex;
    width: 50%;
    height: 40px;
}

#chat-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#chat-input:focus {
    border-color: #1A78C2;
}

button {
    padding: 10px 20px;
    background-color: #172947;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #1A78C2;
}
